<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet Config</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>websiteName</param-name>
  <param-value>myWebsite.com</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>demoServlet</servlet-name>
  <servlet-class>com.servletConfig.demoServlet
  </servlet-class>
  <init-param>  
  <param-name>name1</param-name>  
  <param-value>Nelesh1</param-value>  
  </init-param> 
   <init-param>  
  <param-name>name2</param-name>  
  <param-value>Pulkit1</param-value>  
  </init-param> 
   <init-param>  
  <param-name>name3</param-name>  
  <param-value>Pinky1</param-value>  
  </init-param> 
  
  </servlet>
    
  <servlet-mapping>  
<servlet-name>demoServlet</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  

 <servlet>
  <servlet-name>demoServlet1</servlet-name>
  <servlet-class>com.servletConfig.servlet2</servlet-class>
  </servlet>
  <servlet-mapping>  
<servlet-name>demoServlet1</servlet-name>  
<url-pattern>/servlet2</url-pattern>  
</servlet-mapping>  
</web-app>